import /init.recovery.trustonic.rc

on early-init
    mkdir /vendor/firmware_mnt
    symlink /vendor/firmware_mnt /firmware
    mkdir /mnt/vendor
    mkdir /mnt/vendor/persist
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    symlink /mnt/vendor/persist /persist

on init
    mount ext4 /dev/block/platform/bootdevice/by-name/cust /oem ro barrier=1 discard
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist ro barrier=1 discard
    mkdir /mnt/system
    symlink /mnt/vendor/persist /vendor/persist
    symlink /vendor/lib64/hw/libMcGatekeeper.so   /vendor/lib64/hw/gatekeeper.k62v1_64_bsp.so
    symlink /vendor/lib64/hw/libMcTeeKeymaster.so /vendor/lib64/hw/keystore.mt6765.so

    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

    start servicemanager
    start hwservicemanager
    start vndservicemanager
    start guardianangle

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist

    # Create mcRegistry to store failure record
    mkdir /mnt/vendor/persist/mcRegistry 0771 system system

    write /proc/bootprof "MOBICORE: Starting mcDriverDaemon"
    #start mobicore

on post-fs-data

    # Create /data/vendor/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/vendor/key_provisioning 0771 system system

service servicemanager /system/bin/servicemanager
    disabled
    user root
    seclabel u:r:recovery:s0

service hwservicemanager /system/bin/hwservicemanager
    disabled
    user root
    onrestart setprop hwservicemanager.ready false
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0

service vndservicemanager /vendor/bin/vndservicemanager /dev/vndbinder
    user root
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0

service keymaster-3-0 /vendor/bin/android.hardware.keymaster@3.0-service
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/android.hardware.keymaster@4.0-service
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-trustonic /vendor/bin/hw/android.hardware.keymaster@4.0-service.trustonic
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service vendor.keymaster-3-0-trustonic /vendor/bin/hw/android.hardware.keymaster@3.0-service.trustonic
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/android.hardware.gatekeeper@1.0-service
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start gatekeeper-1-0
    start vendor.keymaster-3-0-trustonic
    start vendor.keymaster-4-0-trustonic

on property:ro.crypto.state=unsupported
    stop vendor.keymaster-3-0-trustonic
    stop vendor.keymaster-4-0-trustonic
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop vendor.keymaster-3-0-trustonic
    stop vendor.keymaster-4-0-trustonic
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
